@model TestApp.Models.Domain.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}



<section id="loginForm">

    <h1 class="form-signin-heading">@ViewBag.Title.</h1>


    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

    @Html.Partial("_ChangePasswordPartial")

</section>
@section Scripts {
<script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
}

