@model TestApp.Models.Domain.RegisterModel
@{
    ViewBag.Title = "Register";
}


<section id="loginForm">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()



        <h1 class="form-signin-heading">@ViewBag.Title.</h1>

        @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Login", @class = "form-control", type = "text", required = "required" })

        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "form-control", type = "password", required = "required" })

        @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Password", @class = "form-control", type = "password", required = "required" })

        <label class="checkbox">
            @Html.CheckBoxFor(m => m.IsAdmin)
            Register as admin
        </label>

        <input type="submit" value="Register" class="btn btn-lg btn-primary btn-block" />

    }
</section>
@section Scripts {
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
}
