@model TestApp.Models.PlaylistModel



<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/html5player/css/styles.css")" />
<script src="@Url.Content("~/Content/html5player/js/jquery-ui-1.9.2.custom.min.js")"></script>
<script src="@Url.Content("~/Content/html5player/js/main.js")"></script>
<script>
    $(function () {
        $("#player-@Model.Id").myPlayer();
    });
</script>

<div class="player" id="player-@Model.Id">
    <div class="pl"></div>
    <div class="title"></div>
    <div class="cover"></div>
    <div class="controls">
        <div class="play"></div>
        <div class="pause"></div>
        <div class="rew"></div>
        <div class="fwd"></div>
    </div>
    <div class="volume"></div>
    <div class="tracker"></div>
</div>
<ul class="playlist hidden-custom" data-parent-player="player-@Model.Id">
    @foreach (var item in Model.PlayListFilesMappings)
    {
        <li audiourl="@Url.Action("GetAudioFile",new {fileId = @item.FileId})" artist="@item.File.FileName">@item.File.FileName</li>
    }

</ul>

