@model IList<TestApp.Models.PlaylistModel>

@{
    Layout = "../Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jplayer/css/jplayer.blue.monday.css")"/>


<script src="@Url.Content("~/Content/jplayer/js/jplayer.playlist.min.js")"></script>
<script src="@Url.Content("~/Content/jplayer/js/jquery.jplayer.min.js")"></script>

<script type="text/javascript">
    //<![CDATA[
    $(document).ready(function () {

        var myPlaylist = new jPlayerPlaylist({
            jPlayer: "#jquery_jplayer_N",
            cssSelectorAncestor: "#jp_container_N"
        }, [
            {
                title: "Cro Magnon Man",
                artist: "The Stark Palace",
                mp3: "http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3"
            }
        ], {
            playlistOptions: {
                enableRemoveControls: true
            },
            swfPath: "../../dist/jplayer",
            supplied: "webmv, ogv, m4v, oga, mp3",
            useStateClassSkin: true,
            autoBlur: false,
            smoothPlayBar: true,
            keyEnabled: true
        });

    });
    //]]>
</script>




<div class="blog-header">
    <h1 class="blog-title">Playlists</h1>
    <p class="lead blog-description">Test description.</p>
</div>
<div id="jp_container_N" class="jp-video jp-video-270p" role="application" aria-label="media player">
    <div class="jp-type-playlist">
        <div id="jquery_jplayer_N" class="jp-jplayer"></div>
        <div class="jp-gui">
            <div class="jp-video-play">
                <button class="jp-video-play-icon" role="button" tabindex="0">play</button>
            </div>
            <div class="jp-interface">
                <div class="jp-progress">
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"></div>
                    </div>
                </div>
                <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                <div class="jp-controls-holder">
                    <div class="jp-controls">
                        <button class="jp-previous" role="button" tabindex="0">previous</button>
                        <button class="jp-play" role="button" tabindex="0">play</button>
                        <button class="jp-next" role="button" tabindex="0">next</button>
                        <button class="jp-stop" role="button" tabindex="0">stop</button>
                    </div>
                    <div class="jp-volume-controls">
                        <button class="jp-mute" role="button" tabindex="0">mute</button>
                        <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>
                    </div>
                    <div class="jp-toggles">
                        <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                        <button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
                        <button class="jp-full-screen" role="button" tabindex="0">full screen</button>
                    </div>
                </div>
                <div class="jp-details">
                    <div class="jp-title" aria-label="title">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="jp-playlist">
            <ul>
                <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
</div>
@if (Model.Any())
{
    <div class="row">
        <div class="col-sm-8 blog-main">
            @foreach (var item in Model)
            {
                <div class="blog-post">
                    <h2 class="blog-post-title">@item.Name</h2>
                    @*<p class="blog-post-meta">@item.Created.ToString("D")</p>*@
                    <p>@item.Description</p>
                </div>
            }

        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            @*@Html.Action("NewsTagsWidget","News")*@
        </div>
    </div>
}
