@model IList<TestApp.Models.PlaylistModel>

@{
    Layout = "../Shared/_Layout.cshtml";
}


<div class="blog-header">
    <h1 class="blog-title">Playlists</h1>
    <p class="lead blog-description">Test description.</p>
</div>

@if (Model.Any())
{
    <div class="row">
        <div class="col-sm-8 blog-main">
            @foreach (var item in Model)
            {
                <div class="blog-post">
                    <h2 class="blog-post-title">@item.Name</h2>
                    @*<p class="blog-post-meta">@item.Created.ToString("D")</p>*@
                    <p>@item.Description</p>
                    @if (item.PlayListFilesMappings.Count > 0)
                    {
                        @Html.Partial("_Player", item)
                    }
                </div>
            }

        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            @Html.Action("PlaylistsTagsWidget","Playlist")
        </div>
    </div>
}
