@model TestApp.Models.News

<h1>Edit item</h1>
<div class="edit-form">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Created)
        @Html.HiddenFor(x => x.CreatedBy)

        <div class="form-group">
            @Html.LabelFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(x => x.Title)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.ShortDescrpition)
            @Html.TextAreaFor(x => x.ShortDescrpition, new { @class = "form-control", required = "required", style = "min-height: 200px;" })
            @Html.ValidationMessageFor(x => x.ShortDescrpition)
        </div>
        <input type="submit" class="btn btn-default" value="Save" />
    }</div>
