@model IList<TestApp.Models.News>

<h1>Admin list</h1>
@Html.ActionLink("Add new","Edit","News",null, new { @class = "btn btn-default"})
@if (Model.Any())
{
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.ShortDescrpition</td>
                <td>@item.Created.ToShortDateString()</td>
                <td>@Html.ActionLink("Edit", "Edit", "News", new { id = @item.Id }, new { @class = "btn btn-default btn-xs" })</td>
                <td>@Html.ActionLink("Delete", "Delete", "News", new { id = @item.Id }, new { @class = "btn btn-default btn-xs" })</td>
            </tr>
        }
    </table>
}
